@import url(../css/iwb-portfolio.css);
.navbar-top {
  background-color: #4E1A9F;
  margin: 0;
  margin-bottom: 16px;
  width: 100%; }

.navbar-top_title-n-social * {
  display: inline-block;
  vertical-align: middle; }

.navbar-top_title-n-social h1 {
  color: #FFF;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 54px;
  margin: 0;
  padding: 16px;
  text-align: center;
  width: 60%; }

.icon-block {
  width: 15%; }

.icon-block_left {
  text-align: left; }

.icon-block_right {
  text-align: right; }

.navbar-top_title-n-social i {
  color: #FFF;
  font-size: 40px; }

.navbar-top_title-n-social a {
  margin: 8px; }

.navbar-top {
  text-align: center;
  width: 100%; }

.navbar-top_links * {
  color: #FFF;
  display: inline-block;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 16px;
  text-decoration: none;
  width: 25%; }

.navbar-top_links h2 {
  background-color: #6439A6;
  border: 3px solid #805ABA;
  padding: 13px; }

.navbar-top_links a:hover {
  background-color: #2B0762; }

.section-about {
  background: rgba(255, 255, 255, 0.75);
  margin: auto;
  margin-top: 32px;
  padding: 16px;
  width: 95%; }

.section-about h3 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 16px; }

.section-about h4 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 8px; }

.section-about p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 175%;
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 0; }

.section-about ul {
  margin: 0; }

.section-about li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 16px; }

.section-projects {
  background: rgba(255, 255, 255, 0.75);
  margin: auto;
  margin-top: 32px;
  padding: 16px;
  width: 95%; }

.section-projects h3 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 48px;
  margin: 16px;
  text-align: center; }

.project-block {
  border-bottom: 3px solid #444;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 8px; }

.project-pane, .project-text {
  display: inline-block;
  vertical-align: middle; }

.project-pane {
  vertical-align: top;
  width: 40%; }

.project-pane_hextext, .project-pane_infobar {
  display: inline-block; }

.project-pane_hextext {
  background-color: #49A9A9;
  border: 4px solid #299393;
  bottom: 24px;
  left: 16px;
  padding: 8px;
  position: relative;
  width: 25%;
  z-index: 100; }

.project-pane_hextext p {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 24px;
  margin: 0;
  text-align: center; }

.project-pane_hextext h4 {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 32px;
  margin: 0;
  text-align: center; }

.project-pane_infobar {
  background-color: #90b6ff;
  border: 2px solid #7395d5;
  bottom: 24px;
  left: 16px;
  padding: 8px;
  position: relative;
  width: 70%; }

.project-pane_infobar p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 4px; }

.proj_taskmaster .project-pane_infobar {
  bottom: 32px; }

.project-text {
  padding: 16px;
  width: 60%; }

.project-text h4 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 8px;
  text-align: center; }

.project-text p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 175%;
  margin: 8px; }

.project-text ul {
  margin: 0; }

.project-text li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px; }

.project-links {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 4px #FFF;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 16px;
  width: 50%; }

.project-links a {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 24px;
  padding: 8px;
  text-decoration: none; }

.link-demo, .link-repo {
  display: inline-block;
  padding: 8px;
  width: 50%; }

.link-demo {
  text-align: right; }

.link-repo {
  text-align: left; }

.proj_taskmaster .link-repo {
  text-align: center;
  width: 100%; }

.link-demo a {
  border: 4px solid #3C9F06;
  border-radius: 8px;
  color: #3C9F06; }

.link-demo a:hover {
  background-color: #3C9F06;
  color: #FFF;
  border: 4px solid #FFF; }

.link-repo a {
  border: 4px solid #6439A6;
  border-radius: 8px;
  color: #6439A6; }

.link-repo a:hover {
  background-color: #6439A6;
  border: 4px solid #FFF;
  color: #FFF; }

* {
  box-sizing: border-box; }

.columns-container {
  font-size: 0; }

body {
  background-color: #222;
  height: 100vh;
  margin: 0; }

#app-container {
  margin: 0; }

img {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
