// STYLES - TOP NAVBAR
.navbar-top{
  background-color: $color-primary-0;
  margin: 0;
  width: 100%;
}

.navbar-top h1{
  color: #FFF;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 54px;
  text-align: center;
}

// LINKS
.navbar-top{
  text-align: center;
  width: 100%;
}

.navbar-top_links h2{
  color: #FFF;
  display: inline-block;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 32px;
  width: 20%;
}
