// STYLES - TOP NAVBAR
.navbar-top{
  background-color: $color-primary-0;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
}

.navbar-top_title-n-social *{
  display: inline-block;
  vertical-align: middle;
}

.navbar-top_title-n-social h1{
  color: #FFF;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 54px;
  margin: 0;
  padding: 16px;
  text-align: center;
  width: 60%;
}

.icon-block{
  width: 15%;
}

.icon-block_left{
  text-align: left;
}

.icon-block_right{
  text-align: right;
}

.navbar-top_title-n-social i{
  color: #FFF;
  font-size: 40px;
}

.navbar-top_title-n-social a{
  margin: 8px;
}

// LINKS
.navbar-top{
  text-align: center;
  width: 100%;
}

.navbar-top_links *{
  color: #FFF;
  display: inline-block;
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 16px;
  text-decoration: none;
  width: 25%;
}

.navbar-top_links h2{
  background-color: $color-primary-2;
  border: 3px solid $color-primary-1;
  padding: 13px;
}

.navbar-top_links a:hover{
  background-color: $color-primary-4;
}
