// STYLES - PROJECTS PAGE
.section-projects{
  background: rgba(255,255,255,.75);
  margin: auto;
  margin-top: 32px;
  padding: 16px;
  width: 95%;
}

.section-projects h3{
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 40px;
  margin: 16px;
  text-align: center;
}

// PROJECT BLOCKS
.project-block{
  margin-bottom: 64px;
}

// IMAGES AND CAPTIONS
.project-pane, .project-text{
  display: inline-block;
  vertical-align: middle;
}

.project-pane{
  width: 40%;
}

.project-pane_hextext{
  position: absolute;
}

.project-pane_hextext p{
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.project-pane_hextext h4{
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

// TEXT
.project-text{
  padding: 16px;
  width: 60%;
}

.project-text h4{
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 8px;
}

.project-text p{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 175%;
  margin: 8px;
}

.project-text ul{
  margin: 0;
}

.project-text li{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
}

// LINKS
.project-links{
  margin-top: 32px;
}

.project-links a{
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 24px;
  padding: 8px;
  text-decoration: none;
}

.link-demo, .link-repo{
  display: inline-block;
  text-align: center;
  width: 50%;
}

.link-demo a{
  border: 4px solid $color-complement-3;
  border-radius: 8px;
  color: $color-complement-3;
}

.link-repo a{
  border: 4px solid $color-primary-2;
  border-radius: 8px;
  color: $color-primary-2;
}

// CSS HEXAGONS
.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: $color-secondary-2-2;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid $color-secondary-2-2;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid $color-secondary-2-2;
}
